<div class="container">
    <form #forma="ngForm" (ngSubmit)="submit()">

        <div>

            <!--nombre: string                 Pedido -->
            <input type="text" #nombre="ngModel" [(ngModel)]="pedido.nombre" placeholder="Pedido" name="nombre"
                minilength="4" class="from-control" required
                [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}">

            <!--fecha: Date-->
            <input type="datetime-local" #nombre="ngModel" [(ngModel)]="pedido.fecha" placeholder="Fecha" name="fecha"
                class="from-control" required>

            <!--detalle: string-->
            <input type="text" #nombre="ngModel" [(ngModel)]="pedido.detalle" placeholder="Detalle" name="detalle"
                class="from-control">

            <!--entrega: string-->
            <select #nombre="ngModel" [(ngModel)]="pedido.entrega" name="entrega" class="from-control" value="A"
                required ng-init='sortVar="stargazers_count"' selected='A'>
                <option defaultValue="A" selected>Para llevar</option>
                <option value="B">Comer en salon</option>
            </select>

           <!-- <h4>Basic native select</h4>
            <mat-form-field appearance="fill">
                <mat-label>Cars</mat-label>
                <select matNativeControl required>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>-->

            <!--preico: number-->
            <input type="number" #nombre="ngModel" [(ngModel)]="pedido.preico" placeholder="Preico" name="preico"
                min="1" class="from-control" required>

            <!--conExtra: boolean-->
            <input type="text" #nombre="ngModel" [(ngModel)]="pedido.nombre" placeholder="Introduzca su nombre de pila"
                name="nombre" minilength="4" class="from-control" required
                [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}">

            <!--cantidad: number-->
            <input type="text" #nombre="ngModel" [(ngModel)]="pedido.nombre" placeholder="Introduzca su nombre de pila"
                name="nombre" minilength="4" class="from-control" required
                [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}">

        </div>

        <button class="button" type="submit">Purchase</button>

    </form>


    <ul class="list-group">
        <li class="list-group-item">Buscar pais </li>
        <li class="list-group-item">Por regino</li>
        <li class="list-group-item">Por capital</li>
    </ul>
</div>