<div class="flex-direction">
    <form #forma="ngForm" (ngSubmit)="submit()">
        <div>
            <!--nombre: string                 Pedido -->
            <div #campo>
                <input type="text" #nombre="ngModel" [(ngModel)]="pedido.nombre" placeholder="Pedido" name="nombre"
                    minilength="4" class="from-control" required
                    [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}">
            </div>

            <!--fecha: Date-->
            <div>
                <input type="datetime-local" #nombre="ngModel" [(ngModel)]="pedido.fecha" placeholder="Fecha"
                    name="fecha" class="from-control" required>
            </div>

            <!--detalle: string-->
            <div>
                <input type="text" #nombre="ngModel" [(ngModel)]="pedido.detalle" placeholder="Detalle" name="detalle"
                    class="from-control">
            </div>

            <!--entrega: string-->


            <div>
                <mat-form-field appearance="fill" name="entrega" class="from-control">
                    <mat-label>Forma de entrega:</mat-label>
                    <mat-select [(value)]="pedido.entrega">
                        <mat-option value="Para llevar">Para llevar</mat-option>
                        <mat-option value="Comer en salon">Comer en salon</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>



            <!--preico: number-->
            <div>
                <input type="number" #nombre="ngModel" [(ngModel)]="pedido.preico" placeholder="Preico" name="preico"
                    min="1" class="from-control" required>
            </div>


            <!--conExtra: boolean-->

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Con extra</label>
            </div>


            <mat-radio-group aria-label="Select an option" >
                <mat-radio-button value="1">Si</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>


            <!--cantidad: number-->
            <div>
                <input type="text" #nombre="ngModel" [(ngModel)]="pedido.nombre"
                    placeholder="Introduzca su nombre de pila" name="nombre" minilength="4" class="from-control"
                    required [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}">
            </div>
        </div>

        <div>
            <button class="button" type="submit">Enviar</button>
        </div>
    </form>
</div>